body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.9em;
  background: transparent url(../images/body_background.png) repeat-x -100px;
  color: #55A09E;
  font-family: verdana;
}

a {
  color: #55A09E;
}

a:focus {
  outline: 0;
}

div#footer {
  margin-top: 0.5em;
  color: #666;
  font-size: 12px;

}

div#footer a {
  color: #666;
  text-decoration: none;
}

div#footer a:hover {
  text-decoration: underline;
}

div#wrapper {
  border: 1px solid #FFF;
  margin: 1em auto auto auto;
  padding: 1em;
  width: 64em;
  height: 37em;
  text-align: left;
}

div#container {
  background: transparent url(../images/wrapper_background.png) repeat;
  height: 37em;
  position: relative;
}

div#menu {
  width: 23em;
  height: 36em;
  float: left;
  display: inline;
  font-family: helvetica;
}

div#menu ul {
  padding: 0;
  margin: 1em 0 0 0 ;
}

div#menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  display:block;
  float:left;
  list-style-type:none;
}

div#menu ul li a {
  display:block;
  text-indent: -9999px;
  width: 331px;
  height: 1.2em;
}

div#menu ul li.contact.selected a{
  background: transparent url(../images/comunicate.png) no-repeat right;
  height: 3.5em;
}

div#menu ul li.index a{
  background: transparent url(../images/index.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.index.selected a{
  background: transparent url(../images/index_selected.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.metodo a{
  background: transparent url(../images/metodo.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.metodo.selected a{
  background: transparent url(../images/metodo_selected.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.horarios a{
  background: transparent url(../images/horarios.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.horarios.selected a{
  background: transparent url(../images/horarios_selected.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.formacion a{
  background: transparent url(../images/formacion.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.formacion.selected a{
  background: transparent url(../images/formacion_selected.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.empresas a{
  background: transparent url(../images/empresas.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.empresas.selected a{
  background: transparent url(../images/empresas_selected.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.material a{
  background: transparent url(../images/material.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.material.selected a{
  background: transparent url(../images/material_selected.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.contacto a{
  background: transparent url(../images/contacto.png) no-repeat right;
  height: 2.2em;
}
div#menu ul li.contacto.selected a{
  background: transparent url(../images/contacto_selected.png) no-repeat right;
  height: 2.2em;
}
div#main {
  width: 28em;
  height: 31em;
  background: white;
  margin-top: 1em;
  padding: 2em;
  float: left;
  position: absolute;
  display: inline;
}

#main h2 {
  margin: 0;
  text-align: left;
  font-family: verdana;
  font-size: 0.9em;
  font-weight: normal;
  color: #58595b;
}

#main h1 {
  margin: 0;
}

div.no-menu {
  position: absolute;
  width: 64em;
  float: none;
  top: 2em;
}
#main p {
  font-size: 0.8em;
}

#main p.side {
  color: orange;
  width: 10em;
  float:left;
  text-align: right;
}

#main p.content {
  margin-left: 2em;
  color: #58595b;
  float:left;
  width: 21em;
  text-align: justify;
}

#main p.contact {
  width: 16em;
  float: right;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  padding: 0.3em 0 0.5em 0;
}

#main.index {
  background: white url("../images/kakasana_dwayne.jpg") bottom 0.5em no-repeat;
}

#main.metodo {
  background: white url("../images/sol_tripadasana.jpg") bottom left no-repeat;
}

#main.empresas {
  background: white url("../images/pablo_janurdhwasana.jpg") bottom left no-repeat;
}

#main.formacion p.sub {
  float: left;
  color: #58595b;
  font-size: 0.7em;
  width: 330px;
  margin-left: 4em;
}

#main.material p.text {
  color: #58595b;
}

#main.material span.link {
  text-indent: -9999px;
  display:inline-block;
  width: 15px;
  height: 17px;
  background: transparent url("../images/link.jpg") no-repeat;
}
#main.material a {
  color: #58595b;
  text-decoration: none;
}
#main.material a:hover {
  color: #58595b;
  text-decoration: underline;
}

.no-menu a img{
  margin-left: 2em;
  margin-top: 9em;
  border: 0;
}

div#sidebar {
  width: 9.2em;
  height: 36em;
  float: right;
  display: inline;
}

span#badge.sede {
  background: transparent url(../images/badge_nueva_sede.png) no-repeat;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 0.5em;
  right: -1.5em;
  text-indent: -9999px;
}

span#logo {
  background: transparent url(../images/logo_metodo.png) no-repeat;
  position: absolute;
  left: 2em;
  top: 27.5em;
  width: 15em;
  height: 12em;
  text-indent: -9999px;
}

div#credits {
  height: 10em;
  margin-left: -2em;
  margin-top: -9em;
  position: absolute;
  width: 1em;
  text-indent: -10000px;
  background: transparent url(../images/credits.png) no-repeat;
}

.inline-errors {
  display: none;
}

.error label {
  color: red;
}

.required_field_note {
  font-size: 1em;
  float: left;
  margin-top: 10px;
}

