<h2>Empresas</h2>

<h1>Calidad de vida y alto rendimiento</h1>

<p class='side'>Una manera eficiente de mejorar el clima de trabajo.</p>

<p class='content'>El Programa Método DeRose en las Empresas es aplicado para mejorar la calidad de vida de las personas en el ambiente de trabajo, generar crecimiento de la productividad y reducir costos por enfermedades de trabajo y ausentismo. Empresas e instituciones como Exxon, CGP2 Norte, el Colegio Nacional de Buenos Aires, la Universidad Tecnológica Nacional (UTN), el Instituto Tecnológico de Buenos Aires (ITBA), la Fundación Konex, el Centro Cultural Borges, Petrobras, Itau, Hyatt, entre otras, vienen descubriendo los beneficios que puede proporcionar el Método DeRose.</p>