<h2>Formación profesional</h2>

<h1>El Instructorado</h1>

<p class='side'>Nuestra misión es 
formar la mayor 
cantidad de 
excelentes 
instructores a fin de 
perpetuar nuestra 
herencia cultural.
</p>
<p class='content'>Después de innumerables revisiones y fases de perfeccionamiento, trabajo sostenido por la experiencia desarrollada durante décadas formando instructores, hoy el Curso de formación del Método DeRose tiene una extensión total de doce años. Es, tal vez, el más largo que se dicta en la Argentina, pero también se caracteriza por su mecánica única, que posibilita que el estudiante comience a trabajar prácticamente desde el inicio. El cronograma está constituido por tres etapas: Seminario de preparación, Curso de extensión universitaria y Residencia.</p>


<p class='sub'><img src="/images/graduados.jpg" alt="Instructores graduados junto a DeRose en el Salón dorado del Ministerio
de cultura del Gobierno de la Ciudad de Buenos Aires.">Instructores graduados junto a DeRose en el Salón dorado del Ministerio de cultura del Gobierno de la Ciudad de Buenos Aires.</p>