<h2>Imágenes</h2>
<h1>Galería de imágenes</h1>
<div id="gallery_select">
  <%= link_to_function 'Escuela', "$('#school_gallery').show(); $('#asana_gallery').hide(); $('#show_school_link').addClass('selected');$('#show_asana_link').removeClass('selected');", :id => 'show_school_link', :class => 'selected' %>
  <span id="separator"></span>
  <%= link_to_function 'Posiciones corporales', "$('#school_gallery').hide(); $('#asana_gallery').show(); $('#show_asana_link').addClass('selected');$('#show_school_link').removeClass('selected');", :id => 'show_asana_link' %>
</div>
<div id='school_gallery' class="gallery">
  <a href="/images/school1.jpg"><img src="/images/thumb_school1.png" width="95" height="72"/></a>
  <a href="/images/school2.jpg"><img src="/images/thumb_school2.png" width="95" height="72"/></a>
  <a href="/images/school3.jpg"><img src="/images/thumb_school3.png" width="95" height="72"/></a>
  <a href="/images/school4.jpg"><img src="/images/thumb_school4.png" width="95" height="72"/></a>
  <a href="/images/school5.jpg"><img src="/images/thumb_school5.png" width="95" height="72"/></a>
  <a href="/images/school6.jpg"><img src="/images/thumb_school6.png" width="95" height="72"/></a>
</div>
<div id='asana_gallery' class="gallery" style="display:none">
  <a href="/images/asana1.jpg"><img src="/images/asana1_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana2.jpg"><img src="/images/asana2_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana3.jpg"><img src="/images/asana3_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana4.jpg"><img src="/images/asana4_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana5.jpg"><img src="/images/asana5_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana6.jpg"><img src="/images/asana6_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana7.jpg"><img src="/images/asana7_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana8.jpg"><img src="/images/asana8_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana9.jpg"><img src="/images/asana9_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana10.jpg"><img src="/images/asana10_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana11.jpg"><img src="/images/asana11_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana12.jpg"><img src="/images/asana12_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana13.jpg"><img src="/images/asana13_thumb.png" width="95" height="72"/></a>
  <a href="/images/asana14.jpg"><img src="/images/asana14_thumb.png" width="95" height="72"/></a>
</div>
<% javascript_tag do %>
  $('#asana_gallery a').lightBox({fixedNavigation:true,
    imageLoading: '/images/lightbox-ico-loading.gif',
    imageBtnClose: '/images/lightbox-btn-close.gif',
    imageBtnPrev: '/images/lightbox-btn-prev.png',
    imageBtnNext: '/images/lightbox-btn-next.png',
    imageBlank: '/images/lightbox-blank.gif',
    txtImage: 'Imagen',
    txtOf: 'de'
   });
  $('#school_gallery a').lightBox({fixedNavigation:true,
    imageLoading: '/images/lightbox-ico-loading.gif',
    imageBtnClose: '/images/lightbox-btn-close.gif',
    imageBtnPrev: '/images/lightbox-btn-prev.png',
    imageBtnNext: '/images/lightbox-btn-next.png',
    imageBlank: '/images/lightbox-blank.gif',
    txtImage: 'Imagen',
    txtOf: 'de'
   });
<% end %>