<h2>Imágenes</h2>
<h1>Galería de imágenes</h1>
<div id='gallery'>
  <a href="/images/image1.jpg" title="Grupo SwáSthya"><img src="/images/thumb_image1.png" width="100" height="72" title="Grupo SwáSthya" /></a>
  <a href="/images/image2.jpg" title="Grupo SwáSthya"><img src="/images/thumb_image2.png" width="100" height="72" title="Grupo SwáSthya" /></a>
  <a href="/images/image3.jpg" title="Instructor Daniel Fersztand · Fotógrafo Andrés Martellini"><img src="/images/thumb_image3.png" width="100" height="72" title="Instructor Daniel Fersztand · Fotógrafo Andrés Martellini" /></a>
  <a href="/images/image4.jpg" title="Instructor Mariano Teijido · Fotógrafo Andrés Martellini"><img src="/images/thumb_image4.png" width="100" height="72" title="Instructor Mariano Teijido · Fotógrafo Andrés Martellini" /></a>
  <a href="/images/image5.jpg" title="Instructora Celeste Saráchaga · Fotógrafo Andrés Martellini"><img src="/images/thumb_image5.png" width="100" height="72" title="Instructora Celeste Saráchaga · Fotógrafo Andrés Martellini" /></a>
  <a href="/images/image6.jpg" title="Instructora Lucía López · Fotógrafo Alejandra Buraschi"><img src="/images/thumb_image6.png" width="100" height="72" title="Instructora Lucía López · Fotógrafo Alejandra Buraschi" /></a>
  <a href="/images/image7.jpg" title="Instructor Martín Pereira · Fotógrafo Juan Mathé"><img src="/images/thumb_image7.png" width="100" height="72" title="Instructor Martín Pereira · Fotógrafo Juan Mathé" /></a>
  <a href="/images/image8.jpg" title="Instructor Joaquim Roxo"><img src="/images/thumb_image8.png" width="100" height="72" title="Instructor Joaquim Roxo" /></a>
</div>
<% javascript_tag do %>
  $('#gallery a').lightBox({fixedNavigation:true,
    imageLoading: '/images/lightbox-ico-loading.gif',
    imageBtnClose: '/images/lightbox-btn-close.gif',
    imageBtnPrev: '/images/lightbox-btn-prev.png',
    imageBtnNext: '/images/lightbox-btn-next.png',
    imageBlank: '/images/lightbox-blank.gif',
    txtImage: 'Imagen',
    txtOf: 'de'
   });
<% end %>