<h2>Imágenes</h2>
<h1>Galería de imágenes</h1>
<div id="gallery_select">
  <%= link_to_function 'Escuela', "$('#school_gallery').show(); $('#asana_gallery').hide(); $('#show_school_link').addClass('selected');$('#show_asana_link').removeClass('selected');", :id => 'show_school_link', :class => 'selected' %>
  <span id="separator"></span>
  <%= link_to_function 'Posiciones corporales', "$('#school_gallery').hide(); $('#asana_gallery').show(); $('#show_asana_link').addClass('selected');$('#show_school_link').removeClass('selected');", :id => 'show_asana_link' %>
</div>
<div id='school_gallery' class="gallery">
  <a href="/images/school1.jpg"><img src="/images/thumb_school1.png" width="100" height="72"/></a>
  <a href="/images/school2.jpg"><img src="/images/thumb_school2.png" width="100" height="72"/></a>
  <a href="/images/school3.jpg"><img src="/images/thumb_school3.png" width="100" height="72"/></a>
  <a href="/images/school4.jpg"><img src="/images/thumb_school4.png" width="100" height="72"/></a>
  <a href="/images/school5.jpg"><img src="/images/thumb_school5.png" width="100" height="72"/></a>
  <a href="/images/school6.jpg"><img src="/images/thumb_school6.png" width="100" height="72"/></a>
</div>
<div id='asana_gallery' class="gallery" style="display:none">
  <a href="/images/image1.jpg" title="Grupo SwáSthya · Fotógrafa Natalia Sanmartín Gil"><img src="/images/thumb_image1.png" width="100" height="72" title="Grupo SwáSthya · Fotógrafa Natalia Sanmartín Gil" /></a>
  <a href="/images/image2.jpg" title="Grupo SwáSthya · Fotógrafa Natalia Sanmartín Gil"><img src="/images/thumb_image2.png" width="100" height="72" title="Grupo SwáSthya · Fotógrafa Natalia Sanmartín Gil" /></a>
  <a href="/images/image3.jpg" title="Instructor Daniel Fersztand · Fotógrafo Andrés Martellini"><img src="/images/thumb_image3.png" width="100" height="72" title="Instructor Daniel Fersztand · Fotógrafo Andrés Martellini" /></a>
  <a href="/images/image4.jpg" title="Instructor Mariano Teijido · Fotógrafo Andrés Martellini"><img src="/images/thumb_image4.png" width="100" height="72" title="Instructor Mariano Teijido · Fotógrafo Andrés Martellini" /></a>
  <a href="/images/image5.jpg" title="Instructora Celeste Saráchaga · Fotógrafo Andrés Martellini"><img src="/images/thumb_image5.png" width="100" height="72" title="Instructora Celeste Saráchaga · Fotógrafo Andrés Martellini" /></a>
  <a href="/images/image6.jpg" title="Instructora Lucía López · Fotógrafa Alejandra Buraschi"><img src="/images/thumb_image6.png" width="100" height="72" title="Instructora Lucía López · Fotógrafa Alejandra Buraschi" /></a>
  <a href="/images/image7.jpg" title="Instructor Martín Pereira · Fotógrafo Juan Mathé"><img src="/images/thumb_image7.png" width="100" height="72" title="Instructor Martín Pereira · Fotógrafo Juan Mathé" /></a>
  <a href="/images/image8.jpg" title="Instructor Joaquim Roxo"><img src="/images/thumb_image8.png" width="100" height="72" title="Instructor Joaquim Roxo" /></a>
</div>
<% javascript_tag do %>
  $('#asana_gallery a').lightBox({fixedNavigation:true,
    imageLoading: '/images/lightbox-ico-loading.gif',
    imageBtnClose: '/images/lightbox-btn-close.gif',
    imageBtnPrev: '/images/lightbox-btn-prev.png',
    imageBtnNext: '/images/lightbox-btn-next.png',
    imageBlank: '/images/lightbox-blank.gif',
    txtImage: 'Imagen',
    txtOf: 'de'
   });
  $('#school_gallery a').lightBox({fixedNavigation:true,
    imageLoading: '/images/lightbox-ico-loading.gif',
    imageBtnClose: '/images/lightbox-btn-close.gif',
    imageBtnPrev: '/images/lightbox-btn-prev.png',
    imageBtnNext: '/images/lightbox-btn-next.png',
    imageBlank: '/images/lightbox-blank.gif',
    txtImage: 'Imagen',
    txtOf: 'de'
   });
<% end %>