<h2>Sede Núñez</h2>

<h1>Bienvenido a nuestra escuela!</h1>
<div id="info">
<p class='side'>
Visitanos<br/>de lunes a viernes<br/>de 10 a 20 hs.<br/>y los sábados<br/>de 10 a 14 hs.<br/>¡Te esperamos!
</p>

<p class='content'>
Abrimos esta sede en Núñez para que puedas disfrutar del Método DeRose cerca de tu casa, en un clima distendido y cómodo, en una ubicación de fácil acceso y con todo el confort  y calidad que te merecés. Nuestra casa es un espacio de cultura y bienestar.
</p>
</div>
<div id="slideshow">
  <% (1..6).each do |i| %>
   <%= image_tag "#{i}.jpg" %>
  <% end %>
</div>

<% javascript_tag do %>
    $(document).ready(function() {
        $('#slideshow').cycle({fx: 'fade'});
    });
<% end %>