<h2>Sede Núñez</h2>

<h1>Bienvenido a nuestra escuela!</h1>
<p class='side'>
Visitanos de lunes a viernes de 10 a 20 hs. y los sábados de 10 a 14 hs.<br/>¡Te esperamos!
</p>
<div id="controls">
<%= link_to_function '+', "$('#open_link').hide();$('#photo').hide();$('#info').show();$('#close_link').show();", :id => 'open_link'%>
<%= link_to_function '-', "$('#open_link').show();$('#photo').show();$('#info').hide();$('#close_link').hide();", :id => 'close_link', :style => 'display:none'%>
</div>
<div id="photo">
  <%= image_tag 'entrada.jpg' %>
</div>
<div id="info" style="display:none">
<p class='content'>
Abrimos esta sede en Núñez para que puedas disfrutar del Método DeRose cerca de tu casa, en un clima distendido y cómodo, de fácil acceso y con todo el confort  y calidad que te merecés. Nuestra casa es un espacio de cultura y bienestar. Un ambiente donde podrás participar de conferencias, cursos y workshops sobre comportamiento, gastronomía, etiqueta y filosofía oriental, así como tomar clases de respiración, relajación, meditación, mantras, técnicas orgánicas, tanto en grupo como con personal trainer.
</p>
<p class='contact'>
Av. Crisólogo Larralde 1721<br/>
Tel (54 11) 4703 3215<br/>
nunez@metododerose.com.ar<br/>
Buscanos en: <%= link_to 'Google Maps', 'http://maps.google.com.ar/maps?f=q&source=s_q&hl=es&geocode=&q=Av.+Cris%C3%B3logo+Larralde+1721&sll=-34.536258,-58.452072&sspn=0.034857,0.053816&gl=ar&ie=UTF8&hq=&hnear=Av+Cris%C3%B3logo+Larralde+1721,+N%C3%BA%C3%B1ez,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires&z=16', :class=>'gmaps' %>
</p>
</div>