<h2>Sede Núñez</h2>

<h1>Bienvenido a nuestra escuela!</h1>
<p class='side'>
Visitanos de lunes a viernes de 10 a 20 hs. y los sábados de 10 a 14 hs.<br/>¡Te esperamos!
</p>
<p class='content'>
Abrimos esta sede en Nuñez para que puedas disfrutar del Método DeRose cerca de tu casa, en un clima distendido y cómodo, de fácil acceso y con todo el confort  y calidad que te merecés. Nuestra casa es un espacio de cultura y bienestar. Un ambiente donde podrás participar de conferencias, cursos y workshops sobre comportamiento, gastronomía, etiqueta y filosofía oriental, así como tomar clases de respiración, relajación, meditación, mantras, técnicas orgánicas, tanto en grupo como con personal trainer.
</p>
<p class='contact'>
Av. Crisólogo Larralde 1721<br/>
Tel (54 11) 4703 3215<br/>
Nuñez@MetodoDeRose.com.ar<br/>
Buscanos en: <span>Google Maps</span>
</p>