<h2>Material didáctico</h2>

<h1 class='descargas'>Descargá gratis libros y cd´s</h1>

<p class='text' style="font-weight: bold">Accedé al material didáctico de descarga gratuita:</p>

<p class='text'><%= link_to 'www.metododerose.com.ar/material.html', 'http://www.metododerose.com.ar/material.html', :popup => true %></p>

<h1 class='compras'>Disponible en escuelas</h1>

<p class='text' style="font-weight: bold">Conocé el material didáctico que se puede adquirir en cualquiera de nuestras sedes:</p>

<p class='text'><%= link_to 'www.metododerose.com.ar/materialdidactico.html', 'http://www.metododerose.com.ar/materialdidactico.html', :popup => true %></p>