<h2>Material didáctico</h2>

<h1>Descargá gratis libros y cd´s</h1>

<p class='text'>Accedé al material didáctico de descarga gratuita:</p>

<p class='text'><span class='link'>></span> <%= link_to 'www.metododerose.com.ar/material.html' %></p>

<h1>Disponible en escuelas</h1>

<p class='text'>Conocé el material didáctico que se puede adquirir en cualquiera de nuestras sedes:</p>

<p class='text'><span class='link'>></span> <%= link_to 'www.metododerose.com.ar/materialdidactico.html' %></p>