<h2>Método DeRose</h2>

<h1>Filosofía puesta en práctica</h1>

<p class='side'>Método DeRose es un entramado de conceptos y técnicas, oriundos de tradiciones culturales muy antiguas.</p>

<p class='content'>El Método DeRose es una propuesta de <i>lifestyle coaching</i> con énfasis en la buena calidad de vida, buenas maneras, buenas relaciones humanas, buena cultura, buena alimentación y buena forma. Algunas de nuestras herramientas son la reeducación respiratoria, la administración del estrés, las técnicas orgánicas que mejoran el tono muscular y la flexibilidad, procedimientos para perfeccionar la descontracción y la concentración mental. Todo eso, en última instancia, con miras a la expansión de la lucidez y al autoconocimiento.</p>